<html>
    <head>
        <title>Piyush Pandey's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Piyush Pandey's Blog</a></h1>
        </div>

        {% for post in posts %}
        <div>
            <p>published: 31.03.2020, 22:13</p>
            <h2><a href="">{{My first post}}</a></h2>
            <p>{{Hi there ! As this is the blog created by me. I warmly welcome you all to my blog. Thank you}}</p>
        </div>
        {% endfor %}

        <div>
            <p>published: 31.03.2020, 22:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I have completed my Bachelor of Engineering iin Industrial Engineering branch from SRKNEC College, Nagpur.</p>
        </div>
    </body>
</html>